<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<extensions>
		<add assembly="NLog.Targets.WebSocket" />
	</extensions>
    <targets async="true">
        <!-- 日志输出到控制台 -->
        <target name="console" 
				xsi:type="ColoredConsole" 
				layout="${longdate} [${level}] ${message} ${exception:format=tostring}" />
		<!-- 日志输出到WebSocket -->
		<target name="websocket" 
				xsi:type="WebSocket" 
				layout="${longdate} [${level}] ${message} ${exception}"
                port="5000"
				wspath="log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="websocket" />
    </rules>
</nlog>